/* @import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;

    font-family: 'Mulish', sans-serif;
/* background-color: aquamarine; */
.contact-container{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
    margin: 20px;
    /* border: 2px solid black; */
    width: 45%;
    /* padding: 5px; */
}
.contact-heading h1{
   
    padding: 5px;
    font-size: 18px;
    color: #bb0c20;
    font-weight: bold;
}
.contact-items p{
    font-size: 12px;
    margin: 6px;
}
.contact-items h3{
 margin:5px;
    padding: 5px;
    font-size: 14px;
    color: #bb0c20;
    font-weight: bold;
}

.row-container{
    display: flex;
    /* border:1px solid green; */
    align-items: center;
    /* justify-content: center; */
    position: relative;
}
.mail-img{
/* position: relative; */
display: flex;
flex-direction: column;
align-items: center;
    /* border: 1px solid red; */
    border-radius: 5px;
    background: #dee2e6;
    box-shadow: 3px 2px 17px 0px rgba(21,21,21,0.85);
-webkit-box-shadow: 3px 2px 17px 0px rgba(21,21,21,0.85);
-moz-box-shadow: 3px 2px 17px 0px rgba(21,21,21,0.85);
    margin: 10px;
    /* width:200px; */
    /* height: 250px; */
}
.mail-img img{
    /* position: absolute; */
    width:200px;
  
    
}
.mail-me{
    display: inline-block;
    justify-content: center;
    padding: 10px;
    /* text-align: center; */
    /* background: chartreuse; */
    /* width: 90%; */
    margin: auto;
    margin-bottom: 20px;
    
}
.mail-me a{
    background-color: #bb0c20;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin:auto;
    /* margin-bottom: 25px; */
    font-size: 14px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;


}
.mail-me a:hover{
    background: rgb(255, 0, 0);
background: linear-gradient(45deg, rgb(255, 0, 0) 0%, rgba(253,29,29,1) 50%, rgba(233,0,56,1) 100%);
}

/* Responsivensss */
@media screen and (min-width:768px) {
    .row-container{
        display: flex;
     flex-direction: column;
        align-items: center;
        position: relative;
    }
    .contact-container{
        width: 100%;
        /* justify-content: flex-end; */
        align-items: center;
     
    }
    .contact-items h3{
        margin:20px;
    }
    .mail-me a{
        font-size: 20px;
       
        /* width:300px; */
    }
    .mail-img{
        margin-bottom: 50px;
    }
    .mail-img img{
    width:350px;
    }
    .contact-heading h1{
        font-size: 30px;
    }
    .contact-items h3{
        font-size: 20px;
    }
    .contact-items p{
        font-size: 18px;
    }
    
}